.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white !important;
}

.roundButton {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 0;
    padding-top: 2px;
    padding-left: 2px;
}

@media (max-width: 991px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > h6 {
        color: #b2dbfb;
    }
}